/* * * the ratfactor.com stylesheet! * * */

body {
	margin: 40px auto;
	max-width: 770px;
	line-height: 1.4;
	font-family: sans-serif;
	color: #222;
	padding: 0 1em;
	background: #FEFEEE;
}

.blog {
  margin: auto;
}

.header {
  width: 100%;
  padding: 2em 1em 0;
  background-color: #4fadd1;
  color: #fff;
  text-align: center;
}

.header h1 {color: #fff;}
.header a {color: white; font-weight: 400; font-size: x-large;}
.header #name {font-weight: 400; font-size: xx-large;}
.header ul {display: flex; justify-content: center; list-style-type: none; padding: 0;}
.header ul li {margin: 0 0.5em;}

article, .home, .main-list { 
	background: #FFFFFF; 
	padding: 2em; 
}
h1 { font-size: 1.8em; color: #444; }
h2,h3{ line-height:1.2; color: #ba3c23; }
pre, code { 
	font-family: monospace; 
	background-color: #F5F1DE; 
	color: #000; 
	border: 1px solid #EAECF0; 
} 
pre { white-space: pre-wrap; padding: 1em; } 
pre code { background-color: default; border: none; }
table { border-collapse: collapse; }
td, th { padding: .7em; border: 1px solid #AAA; }

/* forms */
textarea,
input, button {
	background: #FAFAFA;
	color: #000;
	border: 1px solid #888;
	padding: .3em;
	margin: .3em;
}
input:disabled { color: #666; }
textarea { width: 90%; padding: .5em; display:block; }
button { border-radius: 4px; }
button:hover { background: #FAFAAA; }

/* misc */
nav img { width: 200px; }
header { border-bottom: 1px solid silver; padding: 0 1em 1em; background: #FFF; }
img, figure img { max-width: 100%; }
figcaption { font-style: italic; color: #555; }
blockquote { border-left: 4px solid #D8D8BB; }
.link-block { display: inline-block; }
.subtitle { font-style: italic; }
.admonition-block, thead { background: #F5F1DE; margin-left: 1em; }
.block-title { background: #DEDBCA; color: #333; font-size: 1em; margin: 0; padding: .5em; }
.admonition-block p { margin: .3em; clear: both; }
.bigrat img { max-width: 100% }
